.container {
  width: 360px;
  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: $tablet) {
  .container {

    width: 750px;
    padding: 0 45px;

    margin: 0 auto;
  }
}


@media (min-width: $desktop) {
  .container {

    width: 1350px;
    padding: 0 75px;

    margin: 0 auto;
  }
}
