

.features__text {

  font-size: 24px;
  color: #283645;
  text-align: center;
  font-weight: 300;

  padding: 0 40px;

  &--indent {
    margin-bottom: 120px;
  }
}

.features__list {
  @include list-style;

  padding: 0 30px;
}

.features__wrapper {
  min-height: 784px;
  background-image: url('../img/features-background.svg');
  background-repeat: no-repeat;
  background-position: 0% -80%;

  margin-bottom: 43px;
}


.features__item {
 margin-bottom: 40px;
}

.features__desc {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;


}

.features__description {
  line-height: 24px;
}


.features__wrapper {
 padding-left: 20px;
 padding-right: 20px;
}

.features__phone {

  margin-left: 55px;
}
