.main-nav {
  display: none;
}

@media (min-width: $tablet) {
  .main-nav {
    display: none;
  }
}

@media (min-width: $desktop) {
  .main-nav {
    display: block;
  }
}



.main-nav__burger {
  display: none;
}

.main-nav__list {
 @include list-style;
}
