.reviews__list {
  @include list-style;

  margin-bottom: 25px;
}

.reviews__author {
  display: block;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 25px;
}

.reviews__text {
  display: block;
  font-size: 18px;
  line-height: 30px;

  text-align: center;
  margin: 0;

}

.reviews__toggles {
  display: none;
}

.benefit {
  display: none;
}

.benefit__title {
  font-size: 30px;
  line-height: 36px;
}

.benefit__image {
  width: 238px;
  height: 276px;

  flex-shrink: 0;
  margin-right: 130px;


  background: url("../img/icon-timer.svg") no-repeat center / contain;

  &-number {
    display: block;
    width: 202px;
    height: 202px;
    font-size: 100px;
    line-height: 148px;
    color: #d22856;
    border: 14px solid #d22856;
    border-radius: 100%;
    text-align: center;
    margin-top: 55px;
    margin-left: 19px;
  }
}


.benefit__text {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;

}

.benefit__link {
  color: #d22856;
  text-decoration: underline;
}

@media (min-width: $tablet) {
  .benefit {
    display: flex;

    padding: 0 20px;
  }
}

